Repository samupl/python-ksef: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, mypy

.pre-commit-config.yaml:

# https://pre-commit.com
default_install_hook_types: [commit-msg, pre-commit]
default_stages: [commit, manual]
fail_fast: true
repos:
  - repo: meta
    hooks:
      - id: check-useless-excludes
  -   repo: https://github.com/MarcoGorelli/absolufy-imports
      rev: v0.3.1
      hooks:
      - id: absolufy-imports
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
      - id: python-check-mock-methods
      - id: python-use-type-annotations
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 23.12.0
    hooks:
      - id: black
        language_version: python3
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.7
    hooks:
      - id: ruff
        args: [ "--fix", "--fixable=I001,ERA001,F401,F841,T201,T203" ]
      - id: ruff-format
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
        types: [python]
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: name-tests-test
        args: [--pytest-test-first]
      - id: trailing-whitespace
        types: [python]
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v1.17.0
    hooks:
      - id: commitizen
        stages: [ commit-msg ]
  - repo: local
    hooks:
      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        args: [--check-sourced]
        language: system
        types: [shell]
      - id: poetry-check
        name: poetry check
        entry: poetry check
        language: system
        files: pyproject.toml
        pass_filenames: false
      - id: poetry-lock-check
        name: poetry lock check
        entry: poetry lock
        args: [--check]
        language: system
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: poetry run mypy
        require_serial: true
        language: system
        types: [ python ]

chore: Use a docs poetry group
  poetry.lock
  pyproject.toml
Due: poetry-check

chore: Use a docs poetry group
  .readthedocs.yaml
Due: none

feat: Base for invoice listing
  src/ksef/auth/base.py
  src/ksef/auth/token.py
  src/ksef/client.py
  src/ksef/exceptions.py
  src/ksef/utils.py
  tests/auth/test_token.py
  tests/test_utils.py
Due: mypy

feat: Base types for models
  src/ksef/compat.py
  src/ksef/models/invoice.py
  src/ksef/models/invoice_annotations.py
  src/ksef/models/invoice_rows.py
Due: mypy

feat: Base xml converter
  poetry.lock
  pyproject.toml
  src/ksef/compat.py
  src/ksef/models/invoice.py
  src/ksef/models/invoice_annotations.py
  src/ksef/xml_converters.py
  tests/xml_converters/__init__.py
  tests/xml_converters/resources/invoice.xml
  tests/xml_converters/test_convert_invoice_to_xml.py
Due: poetry-check, mypy

feat: Update XML converter for issuer/receiver data
  src/ksef/models/invoice.py
  src/ksef/xml_converters.py
  tests/xml_converters/resources/invoice.xml
  tests/xml_converters/test_convert_invoice_to_xml.py
Due: mypy

feat: Update XML converter for issuer/receiver data
  src/ksef/models/invoice_rows.py
  src/ksef/xml_converters.py
  tests/xml_converters/resources/invoice.xml
  tests/xml_converters/test_convert_invoice_to_xml.py
Due: mypy

Migrate to UV
  .github/workflows/publish.yml
  poetry.lock
  pyproject.toml
  uv.lock
Due: poetry-check

Drop support for python 3.8
  .github/workflows/test.yml
Due: none

Migrate to uv
  .pre-commit-config.yaml
Due: none

Migrate to uv
  uv.lock
Due: none

Migrate to uv
  .github/workflows/test.yml
  pyproject.toml
Due: poetry-check

chore: migrate to uv
  .github/workflows/test.yml
  pyproject.toml
  uv.lock
Due: poetry-check

chore: migrate to uv
  .github/workflows/test.yml
Due: none

chore: migrate to uv
  .github/workflows/publish.yml
Due: none

chore: migrate to uv
  .gitignore
  pyproject.toml
  src/ksef/auth/token.py
  src/ksef/client.py
  src/ksef/constants.py
  tests/integration/README.md
  tests/integration/__init__.py
  tests/integration/conftest.py
  tests/integration/invoices/__init__.py
  tests/integration/invoices/test_search_invoices.py
Due: poetry-check, mypy

feat: token & xades authentication support
  .gitignore
  README.md
  src/ksef/auth/base.py
  src/ksef/auth/init_session_token_request.py
  src/ksef/auth/token.py
  src/ksef/auth/xades.py
  src/ksef/client.py
  src/ksef/constants.py
  src/ksef/exceptions.py
  src/ksef/models/responses/auth.py
  src/ksef/models/responses/authorization_challenge.py
  src/ksef/models/responses/authorization_token.py
  tests/auth/test_token.py
  tests/auth/test_xades.py
  tests/integration/README.md
  tests/integration/auth/__init__.py
  tests/integration/auth/test_token_auth.py
  tests/integration/auth/test_xades_auth.py
  tests/integration/conftest.py
  tests/integration/invoices/test_search_invoices.py
Due: mypy

fix: support other recipient types
  documentation/docs/reference/invoice-models.md
  src/ksef/models/invoice.py
  src/ksef/xml_converters.py
  tests/xml_converters/test_convert_invoice_to_xml.py
Due: mypy

fix: support other recipient types
  documentation/docs/index.md
  documentation/docs/tutorials/invoices/sending-invoices.md
Due: none

fix: update publish workflows
  .github/workflows/publish.yml
Due: none

bump: release v0.2.0
  pyproject.toml
  uv.lock
Due: poetry-check

fix: bug in converter for "Nazwa" node
  src/ksef/xml_converters.py
Due: mypy

bump: v0.2.1
  pyproject.toml
  uv.lock
Due: poetry-check

feat: add support for other tax special categories
  src/ksef/models/invoice_rows.py
Due: mypy

feat: add support for other tax special categories
  pyproject.toml
  uv.lock
Due: poetry-check

feat: add support for OSS/IOSS
  src/ksef/models/invoice_rows.py
  src/ksef/xml_converters.py
Due: mypy

feat: add support for OSS/IOSS
  pyproject.toml
  uv.lock
Due: poetry-check

feat: add invoice row details, tax summary fields, and fix XML element ordering
  src/ksef/models/invoice.py
  src/ksef/models/invoice_rows.py
  src/ksef/xml_converters.py
Due: mypy

feat: add invoice row details, tax summary fields, and fix XML element ordering (#36)
  src/ksef/models/invoice.py
  src/ksef/models/invoice_rows.py
  src/ksef/xml_converters.py
Due: mypy

bump: v0.2.4
  pyproject.toml
  uv.lock
Due: poetry-check

feat: add Podmiot3 support, per-row exchange rate, and additional descriptions
  src/ksef/models/invoice.py
  src/ksef/models/invoice_rows.py
  src/ksef/xml_converters.py
Due: mypy

feat: add Podmiot3, per-row exchange rate, and additional descriptions (#37)
  src/ksef/models/invoice.py
  src/ksef/models/invoice_rows.py
  src/ksef/xml_converters.py
Due: mypy

bump: v0.2.5
  pyproject.toml
  uv.lock
Due: poetry-check
